* {
    margin: 0;
}

/* text */

h1 {
    padding-top: 3vh;
    color: #606060;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 3vh;
    color: #606060;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
}

h3 {
    font-size: 2.5vh;
    color: #606060;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h4 {
    font-weight: 500;
    color: #7a7a7a;
    font-family: 'Lato', sans-serif;
    line-height: 2em;
    font-size: 20px;
}

p {
    font-size: 1.4rem;
    color: #606060;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

hr {
    width: 60%;
    margin: auto;
}

a {
    text-decoration: none;
}

/* universal styles */

.vc {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.hc {
    margin: auto;
}

.full {
    width: 99%;
}

.short {
    width: 20%;
}

/* header */

header {
    max-width: 100%;
    height: 10vh;
    padding: 1.5vh 4vh 1.5vh 2vh;
    background-color: #68855d;
}

header img {
    height: 10vh;
    width: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#header-mobile {
    display: none;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

a {
    color: #ebebeb;
}

/* banner */

#banner {
    height: 90vh;
    width: 100%;
    background-color: #68855d;
    text-align: center;
}

#banner div {
    position: relative;
    display: inline-block;
}

#banner h1 {
    padding-bottom: 70px;
    font-size: 46px;
    color: #ebebeb;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#banner hr {
    width: 80%;
}

/* about */

#about {
    width: 100%;
    height: 60vh;
}

#about div {
    width: 80%;
    text-align: center;
}

#about h2 {
    padding: 8vh 0vh;
}

#about p {
    padding: 15vh 0vh;
}

.fa-check-circle {
    color: #7a7a7a;
}

.fa-check-circle {
    margin-right: 2vh;
}

.services-description {
    display: flex;
    align-items: center;
    height: 100%;
}

.services-description h3 {
    font-weight: 600;
}

#pictures, #horses {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2vh 0;
}

.horse {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    width: 40vw;
}

.horse img {
    width: 100%;
}

.horse h3 {
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #dfdfdf;
}

#horses h2, #pictures h2 {
    margin-top: 20px;
    width: 100%;
    font-size: 2rem;
}

img {
    width: 40vw;
    margin: auto;
    margin-top: 80px;
    border-radius: 5px;
}

@media screen and (max-width: 1100px) {
    img {
        width: 80vw;
    }

    .horse {
        width: 80vw;
    }
}

.info {
    padding: 7vh 0 10vh 0;
}

.info h1 {
    margin-bottom: 80px;
}

.info h3 {
    line-height: 3em;
    display: inline-block;
}

.info div {
    margin: auto;
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
}

.fa-envelope, .fa-phone, svg {
    display: inline-block;
    padding-right: .5vh;
}


#footer {
    padding-bottom: 3vh;
}

hr.full {
    margin: 0px auto 50px auto;
}


#footer div {
    text-align: center;
}

#footer h4 {
    display: inline-block;
}

.fa-copyright {
    color: #68855d;
    display: inline-block;
    padding-right: 6px;
}


iframe {
    display: block;
    width: 70%;
    margin: 4vh auto 2vh auto;
}

.contact:not(:last-of-type) {
    margin-bottom: 1vh;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .menu__item {
        font-size: 7vw;
      }

    h1 {
        font-size: 6vh !important;
    }

    p {
        padding: 2vh 0vh 4vh 0vh !important;
    }

    #about {
        height: 45vh;
    }

}

@media screen and (min-width: 601px) {
    .menu__item {
        font-size: 1.5rem;
      }
}

@media screen and (max-width: 1050px) {
    #services {
        display: flex;
        flex-direction: column;
        margin: 5vh auto 3vh auto;
        width: 100%;
        justify-content: center;
    }

    .service {
        width: 50%;
        display: flex;
        align-items: center;    
        margin: auto;
        margin-bottom: 2.5vh;
    }

    .fa-check-circle {
        width: 8vh !important;
    }
    
    #header-desktop {
        display: none;
    }

    #header-mobile {
        display: flex;
    }

    nav {
        justify-content: space-between;
        align-items: center;
    }

    img#logo {
        float: right;
    }

    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: absolute;
        left: 4vh;
        width: 3vh;
        height: 26px;
        cursor: pointer;
        z-index: 101;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ebebeb;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 30vh;
        height: 100%;
        margin: 0;
        padding: 10vh 0;
        list-style: none;
        background-color: #68855d;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 100;
      }
      .menu__item {
        display: block;
        padding: 12px 24px;
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #3e5038;
      }
}

@media screen and (min-width: 1051px) {
    header ul li:not(:first-child) {
        padding-left: 70px;
    }
    
    header ul li:not(:last-child) {
        padding-right: 70px;
        border-right: 1px #ebebeb solid;
    }

    #services {
        display: flex;
        height: 15vw;
        width: 80%;
        justify-content: space-between;
        margin: 8vh auto;
    }

    .service {
        width: 30%;
        height: 10vh;
        display: flex;
        align-items: center;
        padding: 16px 16px 16px 8px;
    }
}